html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.app {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -150px;
}
main {
  position: relative;
  height : 100%;
}

.post img {
  max-width: 100%;
  height : auto;
  height: inherit !important;
}

.post {
  /*white-space: nowrap;*/
  text-align: center;
  text-overflow: ellipsis;
  word-break:break-all;
}



<!-- footer -->
.custom_fa {
  padding: 6px;
  font-size: 24px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}


.footer_style {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background-color: #32383e;
  color: #f0f0f0;
}
.footer_center {
  position: relative;
  top: 50%;
  transform: 			translateY(-50%);
}

.footer,
.inner_footer_margin {
  height: 150px;
}
.search {
  background: url('/static/img/icon_search.png') left no-repeat;
  padding-left: 30px;
}

footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    color: #010101;
    background-color:#fff
}
footer p {
    font-size:12px;
    margin:0
}

footer ul {
    margin-bottom:0
}
footer ul li a {
    font-size:12px;
    color:rgba(255,255,255,.3)
}
footer ul li a.active,footer ul li a:active,footer ul li a:focus,footer ul li a:hover {
    text-decoration:none
}

.signUpFrom {
    /* The image used */
    background-image: url("/img/bg/signUp2.jpg");

    /* Full height */
    min-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
